In [1]:
#Name: Sahajpreet Singh
#Assignment: M04 Textbook Reading / Modules and Databases
#Date: 4/15/2024

In [2]:
#zoo.py
def hours():
    print("Open 9-5 daily")

In [5]:
import zoo
zoo.hours()

ModuleNotFoundError: No module named 'hours'

In [9]:
#16.8
#first 16.4
import sqlite3
connect = sqlite3.connect('books.db')
con =

OperationalError: table books already exists